<!--Configuration for Unity Application Block-->
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <typeAliases>
    <!-- Singleton lifetime manager type -->
    <typeAlias alias="singleton"
       type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
    <typeAlias alias="hierarchical"
       type="Microsoft.Practices.Unity.HierarchicalLifetimeManager, Microsoft.Practices.Unity" />
    <typeAlias alias="perRequest"
               type="SMT.WebAPIProj.UnityHttpPerRequestLifetimeManager, SMT.WebAPIProj" />
  </typeAliases>

  <containers>
    <container name="MainContainer">
      <!--<extension type="Interception" />-->
      <types>
        <register type="SMT.Shared1.Infrastructure.IoC.IServiceLocator, SMT.Shared1" mapTo="SMT.Shared1.Infrastructure.IoC.ServiceLocator, SMT.Shared1">
          <lifetime type="singleton" />
        </register>
        <register type="SMT.DataAccess.IUnitOfWork, SMT.DataAccess" mapTo="SMT.DataAccess.UnitOfWork, SMT.DataAccess">
          <lifetime type="singleton" />
        </register>
        <register type="SMT.DataAccess.IRepositoryBase, SMT.DataAccess" mapTo="SMT.DataAccess.RepositoryBase, SMT.DataAccess">
          <constructor>
            <param name="unitOfWork" />
          </constructor>
        </register>
      </types>
      
    </container>
  </containers>
</unity>